<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Escalonador</title>
		<meta name="description" content="">
		<meta name="author" content="Fábio M. Theophilo">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<script src="static/jquery-2.1.1.min.js"></script>
		<script src="static/jcanvas.min.js"></script>
		<script>
			var ws = new WebSocket("ws://localhost:8888/websocket");
			
			ws.onopen = function() {
			console.log("Desenha pela primeira vez");
			$('canvas').drawImage({
				source: 'static/escalonador.png',
				x: 600, y: 200,
				scale: 1,
				fromCenter: true
			 });
			};

			//TODO fazer a lógica para redesenhar...
			ws.onmessage = function (evt) {
			//alert(evt.data);
			console.log(evt.data);
			
			$('canvas').drawImage({
				source: 'static/escalonador.png',
				x: 600, y: 200,
				scale: 1,
				fromCenter: true
			});
			};
		</script>
		<script>
		$(function(){
			$("#envia").click(function(){
				var algoritimo = $("#algoritmo").val();
				var cores = $("#cores").val();
				var filas = $("#fila").val();

				var msg = {
					algoritimo: algoritimo,
					cores: cores,
					filas: filas
				};

				ws.send(JSON.stringify(msg));
				console.log(msg);
			});

		});
		</script>
		
	</head>

	<body>
		<p>
			Selecione o tipo de algoritimo:
			<select id="algoritmo">
				<option value="0">FIFO</option>
				<option value="1">Filas de Prioridade Híbrido</option>
				<option value="2">Round Robin</option>
				<option value="3">Shortest Job First</option>
				<option value="4">Shortest Remaining Time</option>
			</select>
			
			Nº de Core's:
				<input type="text" size="1" name="cores" id="cores" value="4" />

			Tamanho da fila:
				<input type="text" size="1" name="fila" id="fila" value="4" />

				<input type="button" id="envia" value="Enviar">
		</p>
		<hr />
		<p align="center">
			<canvas id="escalonador" width="1200" height="500">
			</canvas>
		</p>

	</body>
</html>
